/*---------------------------*/
/*---Typography--------------*/
/*---------------------------*/
$base-font-size-desktop: 16px;
$line-height-settings: 1.35;
$ff-sans: "Open Sans", sans-serif;

/*---------------------------*/
/*---Colour--------------*/
/*---------------------------*/
:root {
  --clr-dark: #333;
  --clr-twilight: #afafaf;
  --clr-light: #fff;
}

// Dark mode
// @media (min-width: 900px) {
//   :root {
//     --clr-dark: #fff;
//     --clr-twilight: #afafaf;
//     --clr-light: #222;
//   }
// }

/*---------------------------*/
/*---Decorative--------------*/
/*---------------------------*/

$box-shadow-default: -0px 0px 2px 1px rgba(#333, 0.25);
