/*---------------------------*/
/*---Typography--------------*/
/*---------------------------*/
$base-font-size-desktop: 16px;
$line-height-settings: 1.25;

/*---------------------------*/
/*---Colour--------------*/
/*---------------------------*/
$clr-dark: #333;
$clr-twilight: #afafaf;
$clr-light: #fff;
