/* ---------------------- */
/*  Reset                 */
/* ---------------------- */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

* {
  font-family: inherit;
}

/* set up the body */

/* Make working with images easier */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make working with forms easier */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people for have disabled them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
